table {
    border: 1px solid black;
}

.t1 {
    margin-left: 300px;
    background-color: lightcoral;
}

.t2 {
    margin-left: 300px;
    background-color: springgreen;
}

.div1 {
    float: left;
    background-color: yellow;
    width: 50%;
}

.div2 {
    float: right;
    background-color: orange;
    width: 50%;
    column-gap: 599%;
}
.div3{
    display: inline-block;
    width: 45%; /* Adjust width as needed */
    vertical-align: top; /* Align content at the top of the divs */
    margin: 10px; /* Add margin for spacing */
    border: 1px solid rgb(255,255,0); /* Optional: border for visibility */
    box-sizing: border-box;
}
.div4{
    display: inline-block;
    width: 45%; 
    vertical-align: top; 
    margin: 10px; 
    border: 1px solid rgb(255,255,0); 
    box-sizing: border-box;
    background-color: rgb(255,255,0);
}

.logo {
    padding-left: 20px;
    padding-top: px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(164, 165, 160); */
    height: 30px;
    color: rgb(0, 0, 0);
    margin-right: 30%;
    margin-top: 50px;
    margin-left: 5%;
}
a{
    color: rgb(255, 242, 0);
    text-decoration: none;
}
a:hover{
    color: rgb(255, 242, 0);
}
ul {
    list-style: none;
    padding: 0;
    
}

li {
    display: inline-block;
    margin-right: 30px;
    color: white;
    
}
li:hover{
    transform: scale(0.98);
}

* {
    margin: 0;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

